/.idea
/target/classes/configuration.yml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/xyz/iffyspeak/permanentdeath/EventListener.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Configuration.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Database.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Implementation.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Item$Heartcore.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Item$Supershard.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Item$UntappedHeartcore.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Item.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Language$AllOnline.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Language$Item$Heartcore.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Language$Item.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Language$PlayerOnly.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals$Language.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Globals.class
/target/classes/xyz/iffyspeak/permanentdeath/Interfaces/CI/ICustomItem.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/xyz/iffyspeak/permanentdeath/Tools/SQL/MySQL.class
/target/original-PermanentDeath-1.0-Snapshot.jar
/target/classes/paper-plugin.yml
/target/classes/xyz/iffyspeak/permanentdeath/PermanentDeath.class
/target/PermanentDeath-1.0-Snapshot.jar
/target/PermanentDeath-1.0-Snapshot-shaded.jar
/target/maven-archiver/pom.properties
/target/classes/xyz/iffyspeak/permanentdeath/Tools/SQL/SQLToolkit.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Toolkit$StringManipulation.class
/target/classes/xyz/iffyspeak/permanentdeath/Tools/Toolkit.class
